.faculty-req{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #37abe7;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.done-faculty-req{
    font-weight: bold;
    border:1px;
    color: rgba(255, 255, 255, 0.864);
    font-family: "american typewriter";
    background-color: #195572;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.major-req{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #d9dd50;    
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.done-major-req{
    font-weight: bold;
    border:1px;
    color: rgba(255, 255, 255, 0.864);
    font-family: "american typewriter";
    background-color: #858732;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.elective-req{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #dd9231;    
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.done-elective-req{
    font-weight: bold;
    border:1px;
    color: rgba(255, 255, 255, 0.864);
    font-family: "american typewriter";
    background-color: #784b10;  
    height: 60px;
    width: 115px;
    border-radius: 10px;
    transition: 0.5s;
}

.major-req:hover, .faculty-req:hover,.elective-req:hover{
    color:white;
    transition: 0.5s;
}

.margin-top-5px{
    margin-top: -5px;
}

.margin-top-4px{
    margin-top: -4px;
}

.margin-left-2px{
    margin-left: -2px;
}

.text-cis{
    font-weight: bold;
    font-family: "american typewriter";
    color: #393939;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.study-plan-cis{
    margin-left: 30px;
    margin-right:30px;
}

.upper-div-cis{
    display: flex;
    justify-content: space-between;
}

.div1-cis{
    display: flex;
    justify-content: space-between;   
}

.calculus1{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #37abe7;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 0;
    transition: 0.5s;
}

.calculus1:hover{
    color: white;
    transition: 0.5s;
}

.done-calculus1{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.864);
    border:1px;
    font-family: "american typewriter";
    background-color: #195572;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 0;
    transition: 0.5s;
}

.div3-cis{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 0;
}

.margin-skills-cis{
    margin-bottom: -8px;
}

.div3-2-cis{
    display: flex;
    align-items: center;
    margin-right: 130px;
}

.flex1{
    display:flex;
    justify-content: space-between;
}

.margin-right1{
    margin-right: 310px;
}

.margin-left1{
    margin-left: 182px;
}

.java{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.padding-left{
    margin-left: 180px;
}

.padding-right{
    margin-right: 180px;
}

.vp{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #dd9231;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left:10px;
    transition: 0.5s;
}

.vp:hover{
    color: white;
    transition: 0.5s;
}

.done-vp{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    color: rgba(255, 255, 255, 0.864);
    background-color: #784b10;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left:10px;
    transition: 0.5s;
}

.div3-3-cis{
    display: flex;
    align-items: center;
}

.multimedia{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.div4-cis{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.div5-cis{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: -20px;
}

.margin-fund-cis{
    margin-bottom: -5px;
}

.space-between-cis{
    display: flex;
    justify-content: space-between;
}

.padding-left-fund{
    margin-left: 47px;
}

.padding-right-fund{
    margin-right: 47px;
}

.div5-2-cis{
    display: flex;
    justify-content: space-between;
}

.div5-3-cis{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.web1-cis{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #37abe7;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left:20px;
    transition: 0.5s;
}

.web1-cis:hover{
    color: white;
    transition: 0.5s;
}

.done-web1-cis{
    font-weight: bold;
    border:1px;
    color: rgba(255, 255, 255, 0.864);
    font-family: "american typewriter";
    background-color: #195572;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left:20px;
    transition: 0.5s;
}

.margin-right-fund{
    display: flex;
    justify-content: right;
    margin-right: 58px;
    margin-bottom: -5px;
}

.flex-cal{
    display: flex;
    justify-content: right;
}

.margin-cal{
    margin-right: 129px;
}

.web2-cis{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #dd9231;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left: 20px;
    transition: 0.5s;
}

.done-web2-cis{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.864);
    border:1px;
    font-family: "american typewriter";
    background-color: #784b10;
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-left: 20px;
    transition: 0.5s;
}

.web2-cis:hover{
    color: white;
    transition: 0.5s;
}

.margin-web2-cis{
    margin-right: 54px;
}

.lower-div-cis{
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
}

.lower1{
    display: flex;
    justify-content: space-between;
}

.lower1-1{
    margin-right: 50px;
}

.lower1-1-1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;    
}

.data2-cis{
    margin-left: 20px;
    margin-right: 20px;
}

.os-cis{
    margin-left: 20px;
    margin-right: 20px;
}

.lower1-1-2{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -5px;
}

.closer{
    margin-top: 1px;
    margin-bottom: -140px;
}

.lower1-1-3{
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.margin-datamining-button-cis{
    margin-top: 6px;
    margin-left: -2px;
}

.margin-adv-audit-ispm-cis-line{
    margin-left: 210px;
}

.margin-audit-button-cis{
    margin-left: -13px;
    margin-right: -14px;
}

.margin-distributed-button-cis{
    margin-right:1px;
    margin-top: 3px;
}

.lower1-1-4{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1px;
    margin-top: 5px;
}

.lower1-2{
    display: flex;
}

.lower1-2-1{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.margin-gis-cis{
    display: flex;
    align-items: center;
    margin-top: -4px;  
}

.margin-hci-cis{
    display: flex;
    align-items: center;
    margin-top: -1px;
    margin-bottom: -1px;
}

.margin-image-cis{
    display: flex;
    align-items: center;
    margin-top: -32px;
    margin-left: 1px;
}

.lower1-2-2{
    display: flex;
    flex-direction: column;
    margin-right: -2px;
    margin-left: -4px;
}

.network-cis{
    margin-top: 20px;
    margin-bottom: 25px;
}

.lower2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
}

.lower2-1{
    margin-top: 50px;    
}

.lower2-2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.training-project1{
    margin-bottom: -5px;
}

.passed-hours{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: white;
    height: 60px;
    width: 115px;
    border-radius: 10px;
}

.flex-training{
    display: flex;
}

.training-cis{
    font-weight: bold;
    border:1px;
    font-family: "american typewriter";
    background-color: #d9dd50;    
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.training-cis:hover{
    color: white;
    transition: 0.5s;
}


.OOP-CIS{
    display: flex;
    flex-direction: column;    
}

.done-training-cis{
    font-weight: bold;
    border:1px;
    color: rgba(255, 255, 255, 0.864);
    font-family: "american typewriter";
    background-color: #858732;  
    height: 60px;
    width: 115px;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.margin-training-arrow{
    margin-left: 50px;
}

.margin-project1-arrow{
    margin-left: 125px;
}

.flex-project2{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-left: 125px;
}

.manual-projects{
    display: flex;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: -180px;
}

.plan-manual-cis{
    background-color: white;
    font-family: american typewriter;
    border: 3px;
    border-style: solid;
    height: 170px;
    width: 350px;
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: -175px;
}

.plan-manual-cis-top{
    display: flex;
    align-items: center;
}

.faculty-req-manual{
    background-color: #37abe7;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 50px;
}

.plan-manual-cis-middle{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.major-req-manual{
    background-color: #d9dd50;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 60px;
}

.plan-manual-cis-bottom{
    display: flex;
    align-items: center;
}

.elective-req-manual{
    background-color: #dd9231;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 40px;
}